:root{
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p{
    color: #bcc0c3;
    
}
h2{
    color: aliceblue;
    font-size: 25px;
    font-family:  "Roboto",sans-serif;
    font-weight: 800;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    
    height: 260px;
    width: 300px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 922px;
    width: calc(100% - 20px);
}

#cards:hover> .card > .card-border {
    opacity: 1;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card > .card-border{
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    
}

.card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06),transparent 40%);
    z-index: 3;
}

.card > .card-content {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.03),transparent 40%);
    z-index: 1;
}


.card > .card-content {
    background-color: var(--card-color);
    margin: 1px;
    border-radius: inherit;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: relative;
    z-index: 2;
}


.word {
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 150px 50px 10px 10px;
    align-items: center; */
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.des{
    position: absolute;
    top: 83%;
    left: 49%;
    transform: translate(-79%, -50%);
}

.des2{
    position: absolute;
    top: 80%;
    left: 42%;
    transform: translate(-79%, -50%);
}
.des3{
    position: absolute;
    top: 80%;
    left: 37%;
    transform: translate(-79%, -50%);
}
.des4{
    position: absolute;
    top: 80%;
    left: 39%;
    transform: translate(-79%, -50%);
}
.des5{
    position: absolute;
    top: 80%;
    left: 37%;
    transform: translate(-79%, -50%);
}
.des6{
    position: absolute;
    top: 80%;
    left: 39%;
    transform: translate(-79%, -50%);
}


.word2 {
    position: absolute;
    top: 70%;
    left: 28%;
    transform: translate(-50%, -50%);

}

.word3{
    position: absolute;
    top: 70%;
    left: 22%;
    transform: translate(-50%, -50%);
}


.word5{
    position: absolute;
    top: 70%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.word6{
    position: absolute;
    top: 70%;
    left: 28%;
    transform: translate(-50%, -50%);
}

